
@model List<CountryDTO>




<div class="p-5 m-5">

    <a class="btn btn-primary mb-3 text-white" >Add</a>

    <table id="example" class="table table-striped" style="width:100%">

        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedBy</th>
                <th>CreatedDate</th>
                <th>isDeteled</th>
                <th>Proccess</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var item in Model)
            {

                <tr name="@item.Id">
                    <th style="text-transform:initial !important; letter-spacing:0 !important;">@item.Name</th>
                    <th style="text-transform:initial !important; letter-spacing:0 !important;">@item.CreatedBy</th>
                    <th style="text-transform:initial !important  letter-spacing:0 !important">@item.CreatedDate</th>
                    <th style="text-transform:initial !important; letter-spacing:0 !important;">@(!item.isDeteled? "Aktiv" :"Deleted" )</th>
                    <th style="text-transform:initial !important; letter-spacing:0 !important;" style="display:flex; justify-content:space-between">
                        <a class="btn btn-primary btn-sm" >
                            <i class="bx bx-edit text-white"></i>
                        </a>
                        <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#examplemodal"> <i class="bx text-white bxs-message-square-x"></i></a>
                    </th>

                </tr>

                <div class="modal fade" id="examplemodal" tabindex="-1" aria-labelledby="examplemodallabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="examplemodallabel">Delete</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">
                                məqaləni silmək istədiyinizdən əminsiz?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">bağla</button>
                                <a type="button"  class="btn btn-primary">bəli</a>
                            </div>
                        </div>
                    </div>
                </div>

            } 

        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>CreatedBy</th>
                <th>CreatedDate</th>
                <th>isDeteled</th>
                <th>Proccess</th>
        
            </tr>
        </tfoot>

    </table>

</div>
