@model List<CategoryDTO>


<div class="p-5 m-5">


    <table id="example" class="table table-striped" style="width:100%">

        <thead>
            <tr>
                <th>Name</th>
                <th>CreatedBy</th>
                <th>CreatedDate</th>
                <th>isDeteled</th>
                <th>Proccess</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr name="@item.Id">
                    <th style="text-transform:initial !important; letter-spacing:0 !important;">@item.Name</th>
                    <th style="text-transform:initial !important; letter-spacing:0 !important;">@item.CreatedBy</th>
                    <th style="text-transform:initial !important  letter-spacing:0 !important">@item.CreatedDate</th>
                    <th style="text-transform:initial !important; letter-spacing:0 !important;">@(!item.isDeteled ? "Deleted" : "Aktiv")</th>
                    <th style="text-transform:initial !important; letter-spacing:0 !important;" style="display:flex; justify-content:space-between">
                        <a class="btn btn-warning btn-sm t-center text-white" asp-area="Admin" asp-controller="Categories" asp-action="CategoryUndoDelete" asp-route-categoryId="@item.Id">
                            <i class='bx bx-undo'></i>
                        </a>
                    </th>

                </tr>


            }

        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>CreatedBy</th>
                <th>CreatedDate</th>
                <th>isDeteled</th>
                <th>Proccess</th>

            </tr>
        </tfoot>

    </table>

</div>
